.debug{
  min-height: 80px;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black;
}

.debug-2{
  min-height: 80px;
  background-color: rgba(0, 0, 255, 0.5);
  border: 1px solid black;
}

.debug-3{
  min-height: 80px;
  background-color: rgba(0, 255, 0, 0.5);
  border: 1px solid black;
}

aside{
  padding-top: 80px;
  width: 150px;
  height: 100vh;
  flex-shrink: 0;
}

main{
  padding-top: 80px;
  height: 100vh;
  overflow: auto;
}

main .pg-top-bar {
  height: 100px;
}