.debug{
  min-height: 80px;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black;
}

.debug-2{
  min-height: 80px;
  background-color: rgba(0, 0, 255, 0.5);
  border: 1px solid black;
}

.debug-3{
  min-height: 80px;
  background-color: rgba(0, 255, 0, 0.5);
  border: 1px solid black;
}

.pg-w-30{
  width: 30%;
}

.pg-w-20{
  width: 20%;
}

header{
  height: 80px;
}

header .pg-left-header{
  min-width: 140px;
}

header .pg-left-header, header .pg-right-header{
  width: 10%;
}

header .pg-center-header{
  width: 80%;
}

header .pg-center-header .form-control{
  border: 0;
  box-shadow: none;
}

header .pg-right-header ul{
  padding: 0;
}

aside{
  padding-top: 80px;
  width: 150px;
  height: 100vh;
  flex-shrink: 0;
  background-image: url("../img/sidebar-bg.png");
  background-color: #051E34;
}

aside li{
  transition: all 0.5s;
}

aside li:hover{
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 10px white;
}

main{
  padding-top: 80px;
  height: 100vh;
  overflow: auto;
}

main .pg-top-bar .badge{
  background-color: rgba(5, 66, 151, 0.7);
}

.offcanvas{
  --bs-offcanvas-width: 800px;
}

@media screen and (max-width: 767px) {
  aside{
    width: 60px;
  }
}